.login-containar{
    align-items:center ;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(239, 238, 238);
    display: flex
}
.login-containar > h2{
    color:rgb(73, 73, 73) ;
}

.login-btn{
    display: block;
    color: white;
    margin-left: 60px;
   background-color:"#28406b",
       
}

.content{
    background-color: rgb(238, 234, 234);
    padding: 3vh;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 3px;
    color: rgb(73, 73, 73);
}
.content>p >a{
    color:rgb(73, 73, 73);
}
