.signup {
    align-items:center ;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(239, 238, 238);
    display: flex
}
.text{
    color: rgb(73, 73, 73)
}